<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      My Map Aja
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">My Map aja</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Mencoba Map dg Ionic?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
